<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alexgilleran.hiitme"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>

    <application
        android:name="HIITMeApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="AA_DB_NAME"
            android:value="hiitme.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="20" />

        <activity
            android:name=".presentation.programlist.ProgramListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.programdetail.ProgramDetailActivity"
            android:label="@string/title_program_detail" >
        </activity>

        <service android:name="com.alexgilleran.hiitme.programrunner.ProgramRunService" >
        </service>

        <activity android:name=".presentation.run.RunActivity" >
        </activity>
    </application>

</manifest>